<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Recommend</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="static/img/favicon.ico" rel="icon" />
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="static/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="static/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container-fluid" data-aos="fade-up">
        <div class="text-center">
          <div class="col-xl-8 text-center hero-text">
            <h1>Semester Credit Units Registration Recommendation System for Students on Probation</h1>
            <h2>
              A system that recommends credit unit students on probation.
            </h2>
            <div><button class="btn-get-started">Get Started</button></div>
          </div>
          <!-- <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="static/img/hero-img.png" class="img-fluid animated" alt="">
        </div> -->
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="">
      <section id="" class="upload">
        <form method="POST" class="form">
          <div class="semester">
            <label for="semester">Enter Semester:</label>
            <select name="semester" id="semester">
              <option value="" selected></option>
              <option value="First Semester">First Semester</option>
              <option value="Second Semester">Second Semester</option>
            </select>
          </div>
          <div class="level">
            <label for="level">Enter Level:</label>
            <select name="level" id="level">
              <option value="" selected></option>
              <option value="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
            </select>
          </div>
          <button type="button" id="recommend-btn" class="recommentBtn">
            Recommend
          </button>
          <p id="result"></p>
        </form>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="copyright-wrap d-md-flex-column py-4">
          <div class="social-links text-center pt-3 pt-md-0 mb-2">
            <a href="" target="_blank" class="twitter"
              ><i class="bx bxl-twitter"></i
            ></a>
            <a href="" target="_blank" class="github"
              ><i class="bx bxl-github"></i
            ></a>
            <a href="" target="_blank" class="linkedin"
              ><i class="bx bxl-linkedin"></i
            ></a>
          </div>
          <div class="me-md-auto text-center">
            <div class="credits">Final Year Project &copy; 2022</div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <button
      class="back-to-top d-flex align-items-center justify-content-center"
    >
      <i class="bi bi-arrow-up-short"></i>
    </button>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="static/vendor/purecounter/purecounter.js"></script>
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/js/jquery.min.js.download"></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>
  </body>
</html>
